:root {
  --primary1: #32016e;
  --primary2: #52018c;
  --primary3: #ad1457;
  --accent1: #304ffe;
  --accent2: #1a237e;
  --foreground: #fff;
  --shadow: #212121;
  --transition-fast: 0.3s;
}

body {
  /* background: var(--primary); */
  background-image: linear-gradient(
    45deg,
    var(--accent1),
    var(--accent2),
    var(--primary1),
    var(--primary2),
    var(--primary3)
  );
  background-size: 400% 400%;
  animation: gradient 35s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
}

@media (min-width: 780px) {
  .content {
    align-items: center;
  }
}

.hero-title {
  font-size: 5em;
  text-align: center;
  font-family: "Galada", cursive;
  color: var(--foreground);
  text-shadow: 3px 3px var(--shadow);
  padding: 0;
  margin: 0;
}

@media (max-width: 320px) {
  .hero-title {
    font-size: 4em;
  }
}

.hero-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 100%;
  max-width: 400px;
  height: auto;
  box-shadow: 0 0 30px -10px var(--foreground);
}

.center-h {
  justify-content: center;
  text-align: center;
}

.padding {
  padding: 24px;
}

.padding--m {
  padding: 36px;
}

.padding--l {
  padding: 48px;
}

.animate {
  transition: all;
  transition-duration: var(--transition-fast);
}

.button {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  color: var(--foreground);
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
}

.button:hover {
  background: var(--primary2);
}

.button--outline {
  background: transparent;
  border: 1px solid var(--foreground);
}
