:root {
  --primary: #3f51b5;
  /* --primary: #1de9b6; */
  --foreground: #fff;
  --shadow: #212121;
}

body {
  background: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  height: 100vh;
  padding: 24px;
  display: flex;
  justify-content: center;
}

@media (min-width: 780px) {
  .content {
    align-items: center;
  }
}

.hero-title {
  font-size: 5em;
  text-align: center;
  font-family: "Galada", cursive;
  color: var(--foreground);
  text-shadow: 3px 3px var(--shadow);
  padding: 0;
  margin: 0;
}

@media (max-width: 320px) {
  .hero-title {
    font-size: 4em;
  }
}

.hero-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 100%;
  max-width: 400px;
  height: auto;
  box-shadow: 0 0 30px -10px var(--shadow);
}
